<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - SwapTicket</title>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <div th:if="${loginError}" style="color:red;" th:text="${loginError}"></div><br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
</body>
</html>
