<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sell Ticket</title>
    <script>
        let passengerCount = 0;

        function addPassenger() {
            const container = document.getElementById("passengerList");
            const div = document.createElement("div");
            div.className = "passenger-entry";
            div.innerHTML = `
                <hr>
                <label>Passenger Name:</label>
                <input type="text" name="passengers[${passengerCount}].name" required><br>

                <label>Gender:</label>
                <select name="passengers[${passengerCount}].gender" required>
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select><br>

                <label>Coach:</label>
                <select name="passengers[${passengerCount}].coach" required>
                    <option value="">Select</option>
                    <option value="SL">SL</option>
                    <option value="3A">3A</option>
                    <option value="2A">2A</option>
                    <option value="1A">1A</option>
                </select><br>

                <label>Seat Number:</label>
                <input type="number" name="passengers[${passengerCount}].seat" required><br>

                <label>Age:</label>
                <input type="number" name="passengers[${passengerCount}].age" required><br>

                <label>Price (INR):</label>
                <input type="number" name="passengers[${passengerCount}].price" required><br>

                <label>Original Document:</label>
                <input type="file" name="passengerDocs" accept=".jpg,.jpeg,.png" required><br>
            `;
            container.appendChild(div);
            passengerCount++;
        }

    </script>
</head>
<body>

<h2>Sell Your Ticket</h2>

<form th:action="@{/tickets/sell}" method="post" enctype="multipart/form-data">
    <label>PNR Number:</label>
    <input type="text" name="pnrNumber" required><br>

    <label>Train Number:</label>
    <input type="text" name="trainNumber" required><br>

    <label>Train Name:</label>
    <input type="text" name="trainName" required><br>

    <label>From Station:</label>
    <input type="text" name="fromStation" required><br>

    <label>To Station:</label>
    <input type="text" name="toStation" required><br>
	
	<label>Date of Journey:</label>
	<input type="date" name="date" required><br>
	
	<label>Number of TIcket:</label>
	<input type="number" name="numofTicket" min="1" max="6" required><br>
	
    <label>Mobile Number:</label>
    <input type="tel" name="mobile" required><br>	
	
    <label>Ticket Image:</label>
    <input type="file" name="ticketImage" accept=".jpg,.jpeg,.png" required><br><br>

    <h3>Passengers</h3>
    <div id="passengerList"></div>
    <button type="button" onclick="addPassenger()">+ Add Passenger</button>
    <br><br>

    <button type="submit">Submit Ticket</button>
</form>

</body>
</html>
